.App {
  text-align: center;
  cursor: url('./resources/cursor.png'), auto;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fusion-logo {
  width: 80vw;
  max-width: 800px;
}

