.gelatine {
  animation: gelatine 1.5s infinite;
}

.trapped-background {
  background-image: url('./resources//trapped-poster.png');
  background-size: contain;
  background-repeat: round;
}

#event-pane {
  transition: 50ms;
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.975, 1.05); }
  50% { transform: scale(1.05, 0.975); }
  75% { transform: scale(0.975, 1.05); }
}

.disco-cursor {
  cursor: url('./resources/cursor.png'), auto;
}